<VirtualHost <%= node[:ipaddress] %>:80>
    ServerAdmin <%= node[:apache][:serveradmin] %>
    ServerName <%= node[:apache][:servername] %>
<% @serveralias.each do |serveralias| %>
    ServerAlias <%= serveralias %>
<% end if node[:apache][:serveralias] -%>

    ErrorLog "|/usr/bin/cronolog <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/non-secure/logs/%Y/%m/%Y%m%d-error.log"
    CustomLog "|/usr/bin/cronolog <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/non-secure/logs/%Y/%m/%Y%m%d-access.log" combined

    RewriteEngine On
    RewriteRule ^/(.*)$ https://<%= node[:apache][:servername] %>/$1 [R=301,QSA]

</VirtualHost>

<VirtualHost <%= node[:ipaddress] %>:443>
    ServerAdmin <%= node[:apache][:serveradmin] %>
    ServerName <%= node[:apache][:servername] %>
<% @serveralias.each do |serveralias| %>
    ServerAlias <%= serveralias %>
<% end if node[:apache][:serveralias] -%>

    SSLEngine On
    SSLHonorCipherOrder On
    SSLProtocol -ALL +SSLv3 +TLSv1
    SSLCipherSuite SSLv3:TLSv1:SHA256:RC4:!NULL:!LOW:!EXPORT:!ADH
    SSLCertificateFile /home/shared/certs/innovateuk.uat.technophobia.com.crt
    SSLCertificateKeyFile /home/shared/certs/innovateuk.uat.technophobia.com.key
    SSLCertificateChainFile /home/shared/certs/DigiCertCA.crt

    # This will set HSTS for a period of 1 month. 
    # http://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security
    Header always set Strict-Transport-Security "max-age=2592000; includeSubDomains"

    ErrorLog "|/usr/bin/cronolog <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/secure/logs/%Y/%m/%Y%m%d-error.log"
    CustomLog "|/usr/bin/cronolog <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/secure/logs/%Y/%m/%Y%m%d-access.log" combined

    DocumentRoot <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/secure/htdocs

    # server disclosure / hardening
    Options -Indexes

    # Holding folder, do not proxy
    Alias /holding <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/locking/htdocs
    ProxyPass /holding/ !

    <Directory <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/locking/>
        Options None
        AllowOverride none
        Order deny,allow
        Allow from all
    </Directory>

    ErrorDocument 503 /holding/holding.html
    ErrorDocument 500 /holding/holding.html
    ErrorDocument 403 /holding/holding.html
    ErrorDocument 418 /holding/maintenance.html

    # Balancer has to be defined inside the vhost otherwise it doesn't work properly
    <Proxy balancer://balancer>
<% @balancerhost.each_with_index do |host,count| -%>
      BalancerMember <%= node[:apache][:balancerprotocol] %>://<%= host %>:<%= node[:apache][:balancerport] %> route=<%= count %> keepalive=On ping=1s retry=1
<% end -%>

      Order allow,deny
      Allow from all
    </Proxy>

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    ProxyPass /balman !
    <Location /balman>
        SetHandler balancer-manager
        Order Deny,Allow
        Deny from all
        Allow from 81.23.57.44
    </Location>

    ProxyPass /status !
    <Location /status>
        SetHandler server-status
        Order Deny,Allow
        Deny from all
        Allow from 81.23.57.44
    </Location>

    <Location /probe>
        Order Deny,Allow
        Deny from all
    </Location>

    RewriteEngine On
    # Check for trusted IP addresses
       # Swindon
    RewriteCond %{REMOTE_ADDR} ^212\.219\.84\. [OR]
    RewriteCond %{REMOTE_ADDR} ^192\.171\.180\.236$ [OR]
    # WorthIT
    RewriteCond %{REMOTE_ADDR} ^62\.204\.95\.87$ [OR]
    RewriteCond %{REMOTE_ADDR} ^81\.23\.57\.44$
    RewriteRule .* - [E=TRUSTED_IP:true]

    ProxyRequests Off
    ProxyPreserveHost On

<% @blockip.each do |block| -%>
    RewriteCond %{REMOTE_ADDR} ^<%= block %>$
    RewriteRule ^/* https://<%= node[:apache][:servername] %>/holding/sorry.html [L]
<% end if node[:apache][:blockip] -%>

    <Location />
        Order allow,deny
        allow from env=TRUSTED_IP
<% if node[:apache][:htaccess] == "true" -%>
        # Require HTTP Digest auth for everyone else
        AuthType           Basic
        AuthName           "<%= node[:apache][:servername] %>"
        AuthUserFile       <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/locking/.htpasswd
        Require            valid-user
        BrowserMatch       "MSIE"      AuthDigestEnableQueryStringHack=On

        satisfy any
<% else -%>
        allow from all
<% end -%>
        ProxyPass balancer://balancer/
        ProxyPassReverse balancer://balancer/
    </Location>

</VirtualHost>
