<VirtualHost <%= node[:ipaddress] %>:80>
    ServerAdmin <%= node[:apache][:serveradmin] %>
    ServerName <%= node[:apache][:servername] %>

    ErrorLog  "|/usr/bin/cronolog <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/non-secure/logs/%Y/%m/%Y%m%d-error.log"
    CustomLog "|/usr/bin/cronolog <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/non-secure/logs/%Y/%m/%Y%m%d-access.log" combined

    Alias /holding <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/locking/htdocs
    ErrorDocument 503 /holding/holding.html
    ErrorDocument 500 /holding/holding.html
    ErrorDocument 404 /holding/404.html
    ErrorDocument 403 /holding/holding.html
    ErrorDocument 418 /holding/maintenance.html

    <Files "*.sql">
        Order allow,deny
        Deny from all
    </Files>

    <Directory <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/locking/>
        Options None
        AllowOverride none
        Order deny,allow
        Allow from all
    </Directory>

    RewriteEngine On
    # Check for trusted IP addresses
    RewriteCond %{REMOTE_ADDR} ^213\.143\.17\.58$ [OR]
    # Proxy address removed for testing - MG 2009/07/28
    #RewriteCond %{REMOTE_ADDR} ^213\.143\.17\.128$ [OR]
    RewriteCond %{REMOTE_ADDR} ^88\.96\.109\.1$ [OR]  
    RewriteCond %{REMOTE_ADDR} ^88\.96\.109\.4$ [OR]  
    RewriteCond %{REMOTE_ADDR} ^88\.96\.109\.5$ [OR]  
    RewriteCond %{REMOTE_ADDR} ^81\.179\.59\.221$ [OR]
    # Added for ticket 15102
    RewriteCond %{REMOTE_ADDR} ^82\.71\.242\.97$ [OR]
    RewriteCond %{REMOTE_ADDR} ^172.20.35.\d+$
    RewriteRule .* - [E=TRUSTED_IP:true]

    # Apply holding page for non-trusted users when BROS file exists
    RewriteCond <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/locking/bros -f
    RewriteCond %{REQUEST_URI} !^/holding/
    RewriteCond %{ENV:TRUSTED_IP} !true
    RewriteRule .* - [R=503,L]

    <Location />

        Order allow,deny
        allow from all

    </Location>

    DocumentRoot <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/non-secure/htdocs

    <Directory <%= node[:apache][:path] %>/<%= node[:apache][:servername] %>/non-secure/htdocs>
        Options  FollowSymLinks Includes

        AllowOverride All
        php_flag  magic_quotes_gpc off
        php_flag  magic_quotes_runtime off
        php_value error_reporting 2047
        php_flag register_globals off
        php_value upload_max_filesize 16M
        php_value post_max_size 16M

        Order allow,deny
        Allow from all
    </Directory>

</VirtualHost>
